<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ControlLogin</servlet-name>
        <servlet-class>controlador.ControlLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>controlador.EditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarClave</servlet-name>
        <servlet-class>controlador.EditarClave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUsuario</servlet-name>
        <servlet-class>controlador.CrearUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>controlador.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>controlador.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarVivienda</servlet-name>
        <servlet-class>controlador.EditarVivienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarEditar</servlet-name>
        <servlet-class>controlador.EnviarEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarEliminar</servlet-name>
        <servlet-class>controlador.EnviarEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarVivienda</servlet-name>
        <servlet-class>controlador.EliminarVivienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>controlador.Eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarVivienda</servlet-name>
        <servlet-class>controlador.RegistrarVivienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Busqueda</servlet-name>
        <servlet-class>controlador.Busqueda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarRol</servlet-name>
        <servlet-class>controlador.CambiarRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarEliminarAdmin</servlet-name>
        <servlet-class>controlador.EnviarEliminarAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarVivAdmin</servlet-name>
        <servlet-class>controlador.EliminarVivAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaViv</servlet-name>
        <servlet-class>controlador.BusquedaViv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlLogin</servlet-name>
        <url-pattern>/ControlLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/EditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarClave</servlet-name>
        <url-pattern>/EditarClave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUsuario</servlet-name>
        <url-pattern>/CrearUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarVivienda</servlet-name>
        <url-pattern>/EditarVivienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarEditar</servlet-name>
        <url-pattern>/EnviarEditar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarEliminar</servlet-name>
        <url-pattern>/EnviarEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarVivienda</servlet-name>
        <url-pattern>/EliminarVivienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/Eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarVivienda</servlet-name>
        <url-pattern>/RegistrarVivienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Busqueda</servlet-name>
        <url-pattern>/Busqueda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarRol</servlet-name>
        <url-pattern>/CambiarRol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarEliminarAdmin</servlet-name>
        <url-pattern>/EnviarEliminarAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarVivAdmin</servlet-name>
        <url-pattern>/EliminarVivAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaViv</servlet-name>
        <url-pattern>/BusquedaViv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
